# Copier ce fichier en .env.prod et remplir les valeurs

SECRET_KEY=changez-moi-par-une-cle-aleatoire-de-50-caracteres-minimum
DEBUG=False

DB_NAME=mycar_prod
DB_USER=mycar_user
DB_PASSWORD=mot-de-passe-fort-ici

# Votre domaine ou IP publique
ALLOWED_HOSTS=votre-domaine.ne,www.votre-domaine.ne
